// general style

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    min-width: 320px;
}

html {
    
    font-family: 'Roboto', sans-serif;
    user-select: none;
    font-size: 100%;
    transition: all 0.3s;

    @media (min-width: 768px) {
        font-size: 130%;
    }
}

a {
    text-decoration: none;
    color: inherit;
}

// color_variable
$dark_grey: #eaeaea;
$light_grey: #f6f6f6;
$text_grey: #353535;
$text_white: white;

$footer_grey: #353535;


$icon_grey: #7e7e7e;
$icon_darker_grey: #1f1f1f;

$primary_color: #9356DC;
$secondary_color: #FF79DA;
$secondary_color_lighter: #f5edff;
$tertiary_color: #99E2D0;
$tertiary_color_darker: #008766;

// shadow_variable
$button_shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;

// font_variable


// header
.header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 0 1rem 0;
    background-color: white;

    &__logo {
        height: auto;
        width: 11rem;
    }

}

// location
.location {
    display: flex;
    justify-content: center;
    background-color: $dark_grey;
    padding: 1rem 0;
    position: relative;
    box-shadow: inset 0 7px 12px -7px rgba(0, 0, 0, 0.3);


    &__text {
        position: relative;
        font-weight: 500;
        color: $text_grey;

        .location__icon {
            position: absolute;
            right: 7.5rem;
        }
    }
}

// description

.description {
    background-color: $light_grey;
    padding: 2.5rem 0;
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;

    &__title {
        width: 65%;
        font-size: 1.5rem;
        margin-bottom: 0.6rem;
    }

    &__text {
        width: 90%;
        color: $text_grey;
        font-weight: 100;
        font-size: 1.1rem;
        margin-bottom: 1.3rem;
    }

    &__button {
        background-image: linear-gradient(to left top, #9356d5, #b25dd7, #ce65d8, #e76ed9, #ff79da);
        border-radius: 5rem;
        padding: 0.9rem 1.1rem;
        color: $text_white;
        font-size: 0.9rem;
        font-weight: 500;
        box-shadow: $button_shadow;
        margin-bottom: 0.9rem;
        transition: all 0.4s;
        position: relative;
        &::after{
            background-color: white;
            content: "";
            width: 100%;
            height: 100%;
            position: absolute;
            border-radius: 5rem;
            top: 0;
            left: 0;
            opacity: 0;
            transition: all 0.4s;
           
        }

        &:hover {
            box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
            transform: scale(1.1);
            &::after{
                opacity: 0.3;
            }
        }

        &:active {
            transform: scale(1.15);
            outline: 3px solid $secondary_color;
        }
    }
}

// function



.function {
    padding: 3rem 1rem 5rem 1rem;

    &__title {
        margin-bottom: 2rem;
        width: 100%;

        @media (min-width: 520px) {
            text-align: center;
        }
    }

    &__button_list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        gap: 1.4rem;
        padding-left: 0.78rem;
        width: 100%;


        &__button {
            width: 100%;
            position: relative;
            background-color: $light_grey;
            border-radius: 1.2rem;
            box-shadow: $button_shadow;
            padding: 1.7rem 0;
            transition: all 0.3s;
            max-width: 30rem;

            &:active {
                background-color: $secondary_color_lighter;

                & .function__button_list__button__icon {
                    color: $primary_color;
                }
            }

            &__number {
                display: flex;
                justify-content: center;
                align-items: center;
                color: $text_white;
                background-color: $primary_color;
                border-radius: 10rem;
                width: 25px;
                height: 25px;
                position: absolute;
                transform: translate(-50%, -50%);
                top: 50%;

            }

            &__icon {
                position: absolute;
                left: 11%;
                color: $icon_grey;
                font-size: 1.3rem;
                transition: all 0.3s;

            }

            &__text {
                font-weight: 500;
                font-size: 1rem;
                margin-left: 24%;
            }
        }

    }
}

// restaurant

.restaurant {
    padding: 4rem 1rem 5rem 1rem;
    background-color: $light_grey;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1.5rem;
    justify-content: space-around;

    &__title {
        margin-bottom: 0.5rem;
        width: 100%;
    }

    &__card {
        flex-basis: 15rem;
        flex-grow: 1;
        min-width: 40%;

        @media (min-width:1386px) {
            min-width: 20%;
        }

        background-color: white;
        border-radius: 1.2rem;
        overflow: hidden;
        position: relative;
        box-shadow: $button_shadow;

        &__anchor {
            display: block;
            height: 100%;
            padding-bottom: 1rem;

            &__new {
                opacity: 0;
                position: absolute;
                background-color: $tertiary_color;
                color: $tertiary_color_darker;
                border-radius: 0.1rem;
                padding: 0.4rem 1rem;
                font-weight: 500;
                top: 1rem;
                right: 1rem;

                &--show {
                    opacity: 1;
                }
            }

            &__img {
                width: 100%;
                height: 11rem;
                object-fit: cover;

                &--bottom_view {
                    object-position: bottom;
                }

                &--center_view {
                    object-position: 50% 61%;
                }
            }

            &__name {
                margin-bottom: 0.3rem;
                margin-left: 1rem;
                margin-top: 0.7rem;
            }

            &__location {
                font-weight: 100;
                margin-left: 1rem;
            }
        }



        &__icon {
            position: absolute;
            bottom: 2rem;
            right: 1.8rem;
            color: $icon_darker_grey;
            font-size: 1.6rem;
            cursor: pointer;
        }

        &__icon--focus {
            z-index: 2;
            opacity: 0;
            color: transparent;
            transition: all 0.3s;

            &::before {
                -webkit-background-clip: text;
                background-clip: text;
                background-image: linear-gradient(to left top, #9356d5, #b25dd7, #ce65d8, #e76ed9, #ff79da);
            }

            &:focus {

                opacity: 1;


                &+.restaurant__card__icon {
                    opacity: 0;
                    transform: scale(2);
                    transition: opacity 0.7s, transform 0.7s;

                }
            }


        }

    }
}

// footer

.footer {
    padding: 1.5rem 1rem 2.5rem 1rem;
    display: flex;
    flex-direction: column;
    background-color: $footer_grey;
    color: $text_white;
    font-size: 1rem;
    gap: 0.5rem;

    @media (min-width: 538px) {
        padding-left: 20%;
    }

    @media (min-width: 1280px) {
        flex-direction: row;
        justify-content: space-around;
        padding-left: 1rem;
        align-items: center;
    }



    &__title {
        width: 100%;
        height: auto;
        width: 6.8rem;
        margin-bottom: 1rem;

        &>* {
            fill: white;
        }
    }

    &__elmt {
        position: relative;

        &__icon {
            position: absolute;
            font-size: 0.9rem;
            top: 50%;
            transform: translateY(-50%);
        }

        &__text {
            margin-left: 2rem;
        }
    }
}