// general style

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    min-width: 320px;
}

html {
    font-family: 'Roboto', sans-serif;
}

// color_variable
$dark_grey: #eaeaea;
$light_grey: #f6f6f6;
$text_grey: #353535;
$text_white: white;


$icon_grey: #7e7e7e;
$icon_darker_grey: #1f1f1f;

$primary_color: #9356DC;
$secondary_color: #FF79DA;
$secondary_color_lighter: #f5edff;
$tertiary_color: #99E2D0;
$tertiary_color_darker: #008766;

// shadow_variable
$button_shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;


// header
.header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 0 1rem 0;

    &__logo {
        height: auto;
        width: 11rem;
    }

}

// location
.location {
    display: flex;
    justify-content: center;
    background-color: $dark_grey;
    padding: 1rem 0;
    position: relative;
    box-shadow: inset 0 7px 12px -7px rgba(0, 0, 0, 0.3);


    &__text {
        position: relative;
        font-weight: 500;
        color: $text_grey;

        .location__icon {
            position: absolute;
            right: 7.5rem;
        }
    }
}

// description

.description {
    background-color: $light_grey;
    padding: 2.5rem 0;
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;

    &__title {
        width: 65%;
        font-size: 1.5rem;
        margin-bottom: 0.6rem;
    }

    &__text {
        width: 90%;
        color: $text_grey;
        font-weight: 100;
        font-size: 1.1rem;
        margin-bottom: 1.3rem;
    }

    &__button {
        background-image: linear-gradient(to left top, #9356d5, #b25dd7, #ce65d8, #e76ed9, #ff79da);
        border-radius: 5rem;
        padding: 0.9rem 1.1rem;
        color: $text_white;
        font-size: 0.9rem;
        font-weight: 500;
        box-shadow: $button_shadow;
        margin-bottom: 0.9rem;
    }
}

// function

.function {
    padding: 3rem 1rem 5rem 1rem;

    &__title {
        margin-bottom: 2rem;
    }

    &__button_list {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        gap: 1.4rem;
        padding-left: 12.5px;
        width: 100%;

        &__button {
            width: 100%;
            position: relative;
            background-color: $light_grey;
            border-radius: 1.2rem;
            box-shadow: $button_shadow;
            text-align: center;
            padding: 1.7rem 0;
            transition: background-color 0.3s;

            &:active {
                background-color: $secondary_color_lighter;
            }

            &__number {
                display: flex;
                justify-content: center;
                align-items: center;
                color: $text_white;
                background-color: $primary_color;
                border-radius: 10rem;
                width: 25px;
                height: 25px;
                position: absolute;
                transform: translateX(-50%);
            }

            &__icon {
                position: absolute;
                left: 11%;
                color: $icon_grey;
                font-size: 1.3rem;
            }

            &__text {
                font-weight: 500;
                font-size: 0.9rem;
            }
        }

    }
}

// restaurant

.restaurant {
    padding: 3rem 1rem;
    background-color: $light_grey;

    &__title {
        margin-bottom: 1.3rem;
    }

    &__card {
        background-color: white;
        border-radius: 1.2rem;
        overflow: hidden;
        position: relative;
        box-shadow: $button_shadow;

        &__new {
            opacity: 0;
            position: absolute;
            background-color: $tertiary_color;
            color: $tertiary_color_darker;
            border-radius: 0.1rem;
            padding: 0.4rem 1rem;
            font-weight: 500;
            top: 1rem;
            right: 1rem;

            &--show{
                opacity: 1;
            }
        }

        &__img {
            width: 100%;
            height: 11rem;
            object-fit: cover;
            object-position: bottom;
        }

        &__name {
            margin-bottom: 0.3rem;
            margin-left: 1rem;
            margin-top: 0.7rem;
        }

        &__location {
            font-weight: 100;
            margin-bottom: 1rem;
            margin-left: 1rem;
        }

        &__icon {
            position: absolute;
            bottom: 2rem;
            right: 1.8rem;
            color: $icon_darker_grey;
            font-size: 1.6rem;
        }

        &__icon--active {
            z-index: 2;
            opacity: 0;
            color: transparent;
            transition: all 0.3s;
            &::before {
                -webkit-background-clip: text;
                background-clip: text;
                background-image: linear-gradient(to left top, #9356d5, #b25dd7, #ce65d8, #e76ed9, #ff79da);
           }

            &:active {
                opacity: 1;
                

                &+.restaurant__card__icon {
                    opacity: 0;
                    transform: scale(2);
                    transition: opacity 0.3s, transform 0.3s;

                }
            }


        }

    }
}