* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}



.header {
    height: 8vh;
    display: flex;
    justify-content: center;
    align-items: center;

    &__logo {
        height: auto;
        width: 48vw;
    }
}